*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif ;
    font-size: 20px;
    background-color: #101010;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    text-decoration: none;
    color: rgb(226,226,226);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);

    }
}

.toggle .line1 {
    transform:  rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform:  rotate(45deg) translate(-5px, -6px);
}

/* #top{
    height: 500px;
    width: 100%;
    background: #51717e;
} */

#parallax1{
    background: url('../img/landscape1.jpg');
    width: 100%;
    height: 900px;
    background-size: cover;
    background-attachment: fixed;
}

#mid{
    height: 500px;
    width: 100%;
    background: #9b888c;
}

#parallax2{
    background: url('../img/landscape2.jpg');
    width: 100%;
    height: 900px;
    background-size: cover;
    background-attachment: fixed;
}

#mid2{
    height: 500px;
    width: 100%;
    background: #113b4a;
}

#parallax3{
    background: url('../img/landscape3.jpg');
    width: 100%;
    height: 900px;
    background-size: cover;
    background-attachment: fixed;
}

#bottom{
    height: 500px;
    width: 100%;
    background: #37331f;
}

.container {
  height: 100vh;
}
.container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}
.main-title {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -30%);
}

.content {
  width: 100%;
  background: rgb(24, 24, 24);
  min-height: 120vh;
  z-index: 2;
  position: absolute;
  color:antiquewhite;
}
.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;

  /* width: 120px;
  height: auto; */
  text-align: center;
  box-sizing: border-box;
  
}

.text {
  padding: 2rem 20rem;
  font-size: 1.1rem;
}

.images-box{
    /* background-color: red; */
    width: 20%;
    height: auto;
}

.images-box img{
    /* background-color: red; */
    width: 100%;
    height: auto;
}